body {
    background-image: url("assets/cloudy-day.png");
    background-color: #cccccc;
   }

.border-top {
    background: white;
    border-width: 3px !important;
    margin: auto;
    padding: 8px 50px !important;
    width: 100%;
}

.card-img {
    padding: 22px 15px 22px 0;
    max-width: 60%;
}

.container {
    margin-left: 50px;
}
form{
    margin: auto;
    width: 95%;
    padding-bottom: 20px;
}

h3 {
    position: absolute;
    left: 64px;
    top: 0;
    padding: 18px 15px 19px;
}

.header {
    position: relative;
}

.main-content {
    padding: 0px 30px;
}

.nav {
    background: white;
    padding: 10px 10px 20px 0;
    width: 100%;
}

.navbar {
    padding: 15px 30px;
    max-width: 720px;
}

.page-content {
    margin-top: 20px;
}

.portfolio-item {
    position: relative;
    margin: 15px;
}

.portCardBody {
    padding: 0;

}

.portCardText {
    background: grey;
    color: white;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 60%;
    right: 0;
    width: 100%;
}

.wrapper {
    background: white;
    padding: 0 15px;
    max-width: 720px;

}
h6 {
    background: grey;
    border-top 30px;
    bottom: 0em;
    color: white;
    height: 60px !important;
    position: fixed;
    padding: 20px;
    text-align: center;
    width: 100%;
}